body{
    font-family: Arial;
    font-size: 15px;
    padding: 7px;

}

*{
box-sizing: border-box;

}

.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 8px;

}

.col-25{
-ms-flex: 50%;
flex: 50%;
}
.col-50{
-ms-flex: 50%;
flex: 50%;
}

.col-75{
    -ms-flex: 75%;
    flex: 75%;
}

.col-25,
.col-50,
.col-75{

background-color: #f2f2f2;
padding: 5px 20px 15px 20;
border: 2px solid lightgray;
border-radius: 2px;

}

.container{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20;
    border: 5px solid lightgray;
    border-radius: 3px;

}

input[type=text]{
width: 100%;
margin-bottom: 10px;
padding: 2px;
border: 1px solid #ccc;
border-radius: 3px;
}

label{
margin-bottom: 10px;
display: block;

}

.icon-container{

margin-bottom: 20px;
padding: 7px 0;
font-size: 24px;

}

.btn{
background-color: #04AA6D; 
color: wheat;
padding: 11PX;
margin: 10PX 0;
width: 100%;
border: none;   
border-radius: 3PX;
cursor: pointer;
font-size: 17px;
}

.btn:hover{

background-color: #45a049;

}

a{
color: #2196F3;
}

hr{
border: 1px solid lightslategray ;


}

span.price{

    float: right;
    color: grey;
}

@media (max-width: 800px){
.row{
flex-direction: column-reverse;
}
.col-25{
 margin-bottom: 20px;
}

}